$cor-principal: #FED1EF;
$cor-secundaria: #1C6DD0;

@mixin reset {
    margin: 0;
    padding: 0;
}

@mixin cor-e-texto($cor-de-fundo, $cor-de-texto) {
    width: 50%;
    background-color: $cor-de-fundo;

    .texto {
        margin-top: 40%;
        text-align: center;
        font-size: 9.375rem;
        color: $cor-de-texto;
    } 
}

body {
    @include reset;
}

.container {
    height: 100vh;
    display: flex;

    .esquerdo {
        @include cor-e-texto($cor-principal, $cor-secundaria);
    } // Esquerdo

    .direito {
        @include cor-e-texto($cor-secundaria, $cor-principal);
    } // Direito
} // Container